body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 100px;
    background-color: black;
}

html {
    overflow-y: scroll;
}

h1 {
    color: #546E7A;
    font-weight: 800;
    font-size: 1.7em;
}

h2 {
    color: steelblue;
    font-size: 1.3em;
    padding-bottom: 10px;
}

h3 {
    color: gray;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.jumbotron {
    padding-top: 5px;
    height: 50px;
    border-bottom: #37474F solid 4px;
    background-color: #FFCCBC;
}

.container {
    height: 100%;
}

#header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 3.2rem;
    text-align: center;
}

.odd {
    background-color: #B2DFDB;
}

.even {
    background-color: #C8E6C9;
}

#title {
    font-family: sans-serif;
    color: white;
    font-weight: 400;
    font-size: 2.1rem;
    text-align: center;
}

.card {
    margin: auto;
    margin-top: 20px;
    border-radius: 0.6rem;
}

.col {
    justify-items: center;
}

.row {
    margin-top: 10px;
    border-radius: 0.6rem;
}

pre {
    height: 200px;
    font-size: 9px;
    overflow-y: scroll;
}

.form-control-inline {
    display: inline;
    width: 40px;
    margin-right: 5px;
}

#vis-container {
    height: 500px;
}

.checkbox {
    margin-left: 20px;
}

#genre-radar {
    height: 500px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #1f4921;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}

/* footers */
footer a,
footer a:hover,
footer a:visited {
    color: #1db954;
}

footer {
    color: honeydew;
    padding-top: 5px;
    /* border-top: 1px solid gray; */
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: black;
    text-align: center;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.axis line {
    stroke: #000;
}

.axis path {
    fill: none;
    stroke: #000;
}

.axis+.axis g text {
    display: none;
}